html body #root .newsletter{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg);
    background-color: var(--color-bg-gradient-start);
    
    
}
html body #root .newsletter-section{
    border-radius: var(--radius-lg);
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: flex;
    position: relative;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
html body #root .newsletter-img{
    box-sizing: content-box;
    width: 40%;
    height: auto;
    padding: .5rem 0 0 0;
}
html body #root .newsletter-title{
    background-color: inherit;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 1.5rem .3rem 1.5rem ;
}
html body #root .newsletter-text{
    font-size: 1.1rem;
    text-align: center;
    padding: .2rem 1rem 1.5rem 2.5rem ;
}
html body #root .newsletter-text-bottom{
    max-width: 90%;
    font-size: .7rem;
    text-align:center;
    padding: .2rem 2rem 1.5rem 2rem ;
    
}
html body #root .newsletter-button{
    background-color: var(--red-50);
    color: white;
    font-size: .8rem;
    border: none;
    border-radius: 8px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 280px;
}

html body #root .newsletter-button-skip{
    background-color: transparent;
    font-size: 1rem;
    color: var(--color-text-subtitle);
    cursor: pointer;
    padding: .4rem;
    text-decoration: underline;
}
html body #root .newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
html body #root .newsletter-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
   ;
}
html body #root .newsletter-input{
    width: 100%;
    max-width: 280px;
    padding: 0.6rem 0.75rem;
    border: 1px solid var(--darkgrey-130);
    border-radius: 8px;
    text-align: center;
    /* transition: all 0.3s ease-in-out; */
}
html body #root .newsletter-input:focus{
    /* background-color:var(--color-accent-6); */
    transform:translateY(-2px);
    outline: 3px solid var(--red-50);
;
}